/* Font Colors */

$base-font-size:20px;
$base-font-family:'Playfair Display', serif;
$base-font-color:#fff;


/* Background Colors */

$primary-color:#ff794d;
$secondary-color:#7fba00;
$light-color:#fff89a;
$dark-color:#4b1b0d;


/* Showcase Area */

$showcase-height:1800px;

// OVAL BUTTON VARIABLE //
